---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { homePageContent, identity } from "../config";
import SocialLink from "../components/SocialLink.astro";
import SoourceLinkBox from "../components/SocialLinkBox.astro";
import Link from "../components/Link.astro";
import { Icon } from "astro-icon/components";
---

<Layout seo={homePageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="text-3xl mb-1">{identity.name}</h1>
    <p class="opacity-60 mb-6 subtitle">{homePageContent.role}</p>
    <div class="flex flex-row flex-wrap gap-6 mb-8">
      <Image
        src={identity.logo}
        alt={identity.name}
        width={100}
        height={100}
        loading="lazy"
        decoding="async"
        quality={100}
        densities={[1.5, 2]}
        class="rounded-full"
      />
      <div class="group flex flex-col justify-center gap-2 w-fit">
        {
          homePageContent.homeSocialLinks.map((link) => (
            <SocialLink
              title={link.title}
              url={link.url}
              icon={link.icon}
              external={link.external}
            />
          ))
        }
      </div>
    </div>
    <p class="max-w-lg mb-3">
      <p class="max-w-lg mb-3">Aspiring Software Engineer specializing in building scalable and optimized data solutions.</p>
      <p class="max-w-lg mb-3">I'll soon be joining <a href="https://www.qube-rt.com/" target="_blank" class="gradient-link">Qube Research & Technologies</a> as a Quantitative Technologist Intern.</p>
      <p>What I've done in the past: </p>
      <ul class="list-disc pl-6 mb-3">
        <li>Technology Summer Analyst at <a href="https://www.morganstanley.com/" target="_blank" class="gradient-link">Morgan Stanley</a></li>
        <li>Software Engineer Intern at <a href="https://www.switcheo.com/" target="_blank" class="gradient-link">Switcheo Labs</a></li>
        <li>Software Developer Intern at a cybersec startup</li>
        <li>Naval Diver at <a href="https://www.mindef.gov.sg/" target="_blank" class="gradient-link">SAF</a></li>
      </ul>
      <p>What I'm learning:</p>
      <ul class="list-disc pl-6">
        <li>Tennis</li>
        <li>Snowboarding</li>
        <li>Singing</li>
        <li>Photography</li>
      </ul>
    </p>
    <br>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 group">
      {homePageContent.sourceLinks.map((item) => <SoourceLinkBox {...item} />)}
    </div>
    <!-- <div class="flex items-center gap-4 group w-fit">
      {
        homePageContent.links.map((link) => (
          <Link
            text={link.title}
            href={link.url}
            external={link.external}
            icon={link.icon}
          />
        ))
      }
    </div> -->
  </section>
</Layout>
