---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import {
  navBarLinks,
  identity,
  measurementId,
  googleSiteVerification,
} from "../config";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import type { SEOInfo } from "../types/config";
import "@styles/base.css";

interface Props {
  seo: SEOInfo;
}

const { seo } = Astro.props;
const ogImageUrl = seo.image;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/avatar-laptop.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/avatar-laptop.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Kanit&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{seo.title}</title>

    <!-- HTML Meta Tags -->
    <meta name="description" content={seo.description} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={ogImageUrl} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={seo.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.description} />
    <meta property="og:image" content={ogImageUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={seo.domain} />
    <meta property="twitter:url" content={seo.url} />
    <meta name="twitter:title" content={seo.title} />
    <meta name="twitter:description" content={seo.description} />
    <meta name="twitter:image" content={ogImageUrl} />

    <meta name="google-site-verification" content={googleSiteVerification} />
    <!-- Google Analytics -->
    <GoogleAnalytics measurementId={measurementId} />
    <!-- Google Analytics -->
  </head>
  <body>
    <header>
      <div
        class="px-6 py-6 max-w-2xl mx-auto flex items-center justify-between"
      >
        <a href="/">
          <Image
            src={identity.headerLogo}
            alt={"Logo"}
            width={50}
            height={50}
            loading="lazy"
            decoding="async"
            quality={100}
            densities={[1.5, 2]}
            class="w-[35px] h-[50px] object-cover"
          />
        </a>
        <nav class="ml-auto mr-6 sm:m-0">
          <ul class="flex items-center gap-2">
            {
              navBarLinks.map((link) => (
                <li>
                  <a
                    class="group px-4 py-2 rounded-lg hover:bg-gray-bg opacity-60 hover:opacity-100 transition-all"
                    href={link.url}
                    target={link.external ? "_blank" : "_self"}
                  >
                    {link.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </header>
    <main class="mb-32">
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
